.Album {
    min-height: 500px;
    padding:1rem;
}

.Album-header {
    text-align: center;
}

.Album-filter {
    padding: 1rem;
    display: flex;
}

.Album-pictures {
    display: flex;
    flex-wrap: wrap;
}